body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.homePage{
  border: 1px;
  border-style: solid;
  border-color: black;

  
}
.homePage.swamp{
  border: 1px;
  border-style: solid;
  border-color: black;
}

.card{
  float: left;
  width: 24%;
}
.board{
  border: 1px;
  border-style: solid;
  border-color: black;
}